*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template:
    "nav" 100px
    "content" 800px
    "footer" 100px/400px ;
    background: #213555
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
}

.boxContact{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 5px;
}

.email{
    width: 30px;
}

.Logo{
    width: 150px;
    object-fit: contain;
}

a{
    font-family: "Maven Pro", serif;
    color: #F5EFE7;
    text-decoration: none;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

h1{
    font-family: "Maven Pro", serif;
    text-transform: uppercase;
    color: #F5EFE7 ;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}


hr{
    background-color: #F5EFE7;
    width: 90%;
    height: 2px;
    border-radius: 5px;
    border: none;
}

.boxMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    width: 90%;
    height: 300px;
}

.boxInpust{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.boxInpust input{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
}

input:is(:focus, :valid){
    outline-color: #3E5879;
}

.boxInpust label{
    position: absolute;
    left: 1%;
    padding: 0 10px 0 10px;
    transition: 500ms;
    background-color: #ffff;
    border-radius: 5px;
    font-family: "Chivo", serif;
}

input:focus ~ label,
input:valid ~ label{
    transform: translateY(-20px);
    color: #000;
}

.boxBtn{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.boxBtn button{
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    border: none;
    font-family: "Merriweather", serif;
    font-weight: 600;
    cursor: pointer;
}

.boxBtn button:hover{
    background-color: #3E5879;
    color: #F5EFE7;
}

article{
    display: flex;
    justify-content: center;
    width: 90%;
}

.boxCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8C4B6;
    border-radius: 5px;
    width: 90%;
    height: 300px;
}

.masterCard{
    display: flex;
    background-color: #3E5879;
    border-radius: 5px;
    padding: 5px;
}


footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-family: "Chivo", serif;
    color: #F5EFE7;
}

.Logo2{
    width: 250px;
}


@media (min-width: 400px) and (max-width: 1600px){

    body{
        display: grid;
        grid-template:
        "nav nav" 100px
        "content content" 800px
        "footer footer" 100px/800px 800px;
        background: #213555
    }  

    nav{
        grid-area: nav nav;
        display: flex;
        justify-content: space-around;
    }
}