*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template:
    "nav" 100px
    "content" 800px
    "footer" 100px/400px ;
    background: rgb(23,45,157);
    background: linear-gradient(180deg, rgba(23,45,157,1) 29%, rgba(120,124,254,1) 89%);

}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
}

.boxContact{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 5px;
}

.email{
    width: 30px;
}

.Logo{
    width: 150px;
    object-fit: contain;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}


hr{
    background-color: rgb(4, 50, 91);
    width: 90%;
    height: 2px;
    border-radius: 5px;
    border: none;
}

.boxMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    width: 90%;
    height: 300px;
}

.boxInpust{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.boxInpust input{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
}

input:is(:focus, :valid){
    outline-color: blue;
}

.boxInpust label{
    position: absolute;
    left: 1%;
    padding: 0 10px 0 10px;
    transition: 500ms;
    background-color: #ffff;
    border-radius: 5px;
}

input:focus ~ label,
input:valid ~ label{
    transform: translateY(-20px);
    color: #000;
}

.boxBtn{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.boxBtn button{
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

article{
    display: flex;
    justify-content: center;
    width: 90%;
}

.boxCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 193, 236);
    border-radius: 5px;
    width: 90%;
    height: 300px;
}

.masterCard{
    display: flex;
    background-color: bisque;
    border-radius: 5px;
    padding: 5px;
}


footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Logo2{
    width: 250px;
}